body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5A7C44;
    color: lime;
}

header {
    background-color: lime;
    color: #fff;
    padding: 5px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

main{
    padding: 20px;
    margin-bottom: 30px;
}

form {
    width: 98%;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    width: 98%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: limegreen;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    
    background-color: lime;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#userInfo {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#profileInfo {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

#profilePicture {
    border-radius: 50%;
    /* Make it a circle */
    margin-bottom: 10px;
}